/* Frank Poth 03/27/2018 */

:root {

  --body-color:#ffffff;
  --border-color:#070707;
  --header-color:#272727;
  --footer-color:#272727;
  --iframe-color:#ff652f;

}

* { border:none; box-sizing:border-box; color:#ffffff; margin:0; padding:0; word-break:break-word; word-wrap:break-word; }

html { height: 100%; width:100%; }

body {

  align-content:space-between;
  background-color:var(--header-color);
  display:grid;
  grid-row-gap:16px;
  grid-template-columns:auto;
  grid-template-rows:auto auto auto;
  min-height:100%;
  width:100%;

}

main {

  align-content:space-around;
  display:grid;
  grid-row-gap:8px;
  grid-template-rows:repeat(auto-fill, auto);
  justify-content:space-around;
  min-height:calc(100vh - 128px);
  width:100%;

}

a {

  font-size:1.25em;
  font-weight:600;
  text-decoration:none;

}
