/* Frank Poth 03/27/2018 */

* { border:none; box-sizing:border-box; margin:0; padding:0; word-break:break-word; word-wrap:break-word; }

html { height: 100%; width:100%; }

body {

  align-content:space-around;
  align-items:center;
  background:linear-gradient(to bottom, #ffffff, #dfefff) fixed;
  background-size:cover;
  display:grid;
  grid-row-gap:16px;
  grid-template-columns:100%;
  justify-content:center;
  justify-items:center;
  min-height:100%;
  width:100%;

}

a {

  font-size:1.25em;
  font-weight:600;
  text-decoration:none;

}

h1 { color:#0080f0; font-weight:800; font-size:3.0em; text-align:center; }
