/* Frank Poth 03/27/2018 */

p { max-width:480px; text-align:justify; }

#links {

  display:grid;
  grid-column-gap:16px;
  height:100%;
  justify-content:space-around;
  width:100%;

}

@media only screen and (min-width:320px) {

  #links { grid-template-columns:auto; }

}

@media only screen and (min-width:480px) {

  #links { grid-template-columns:auto auto; }

}

@media only screen and (min-width:640px) {

  #links { grid-template-columns:auto auto auto; }

}
