/* Frank Poth 03/27/2018 */

p { max-width:480px; text-align:justify; }

#content {

  align-content:space-around;
  display:grid;
  grid-template-columns:auto auto;
  justify-content:space-around;

}
