/* Frank Poth 09/07/2018 - 09/07/2018 */

/* Styles for every element */
* {

  box-sizing: border-box;
  margin:     0px;
  padding:    0px;

}

html, body {

  height: 100%;
  width:  100%;

}

body {

  background-color:#000000;

}

