/* Frank Poth 04/21/2018 */

#header {

  align-content:center;
  border-bottom:4px solid var(--border-color);
  display:grid;
  grid-column-gap:8px;
  grid-row-gap:8px;
  grid-template-columns:repeat(auto-fit, 128px);
  justify-content:center;
  min-height:128px;
  padding:8px;
  position:relative;
  width:100%;

}

#header a {

  align-self:center;
  background-color:rgba(0, 0, 0, 0.75);
  border-radius:8px;
  color:#ffffff;
  display:grid;
  jusfity-self:center;
  padding:4px 8px;
  text-align:center;
  text-decoration:none;

}

#header a:hover { background-color:#000000; }

#header .OffSiteLink {

  align-content:center;
  justify-content:center;

}

#header-canvas {

  height:100%;
  position:absolute;
  width:100%;
  z-index:-1;

}
