/* Frank Poth 06/27/2017 */

#footer {

  align-content:center;
  background-color:#303840;
  background-image:url("header-texture.png");
  border-top: 4px solid #11222c;
  grid-area:footer;
  height:128px;
  display:grid;
  grid-template-columns:auto;
  grid-template-rows:auto;
  padding:8px;
  justify-content:center;

}

#footer > p {

  color:#eef6fb;
  text-align:justify;

}

#footer a {

  color:#bbddf1;
  text-decoration:none;

}
