#header {

  background-image:url("header.png");
  background-size:cover;
  image-rendering:pixelated;

  display:flex;
  flex-direction:row;

  min-height:128px;
  width:100%;

}

#header div:nth-child(1) h1 {

  color:#78a1aa;
  text-shadow:1px 1px #000000;

}

#header div:nth-child(2) {



}

@media screen and (max-width: 480px) {

  #header {

    flex-direction:column;

  }

}
