/* Frank Poth 06/27/2017 */

#header {

  align-items:center;
  background-color:#303840;
  background-image:url("header-texture.png");
  border-bottom: 4px solid #11222c;
  display:grid;
  grid-area:header;
  grid-template-areas:"header-title header-links";
  grid-template-columns:1fr 1fr;
  grid-template-rows:auto;
  height:128px;
  justify-items:center;

}

#header-title {

  color:#eef6fb;
  grid-area:header-title;

}

#header-links {

  align-self:stretch;
  align-content:space-around;
  display:grid;
  grid-area:header-links;
  grid-template-columns:auto auto auto;
  grid-template-rows:auto auto;
  justify-content:space-around;
  justify-self:stretch;

}

.header-link {

  align-self:center;
  color:#bbddf1;
  display:grid;
  font-weight:bold;
  justify-self:center;
  text-decoration:none;

}

@media screen and (max-width: 720px) {

  #header {

    grid-template-areas:"header-title" "header-links";
    grid-template-columns:auto;
    grid-template-rows:auto auto;

  }

}
