/* Frank Poth 06/27/2017 */

body {

  min-height:100%;
  width:100%;

  display:grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-columns:1fr;
  grid-template-rows:auto auto auto;

  align-content:space-between;

}

#content {

  grid-area:content;
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:auto auto auto auto;
  padding:8px 0;

}
