/* Frank Poth 09/01/2017 */

#content {

  align-items:space-around;
  display:grid;
  grid-area:content;
  grid-template-columns:auto auto auto;
  grid-row-gap:8px;
  grid-auto-rows:auto;
  justify-content:space-around;
  padding:8px;
  width:100%;

}

a {

  display:block;
  font-size:1.5em;
  font-weight:bold;
  text-decoration:none;

}

@media screen and (max-width:480px) {

  #content {

    grid-template-columns:auto;

  }

}
