/* Frank Poth 04/19/2017 */

* {

  box-sizing:border-box;
  font-family:"Courier New", Courier, monospace;
  margin:0;
  padding:0;

}

html {

  height:100%;
  width:100%;

}

body {

  align-content:space-between;
  background-color:#eef6fb;
  display:grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows:min-content auto min-content;
  min-height:100%;
  width:100%;

}

a {

  color:#336684;
  cursor:pointer;

}

h2 {

  color:#11222c;

}

h3 {

  color:#336684;

}

iframe {

  border:none;
  width:100%;
  height:100%;

}

p {

  color:#081116;

}
