/* Frank Poth 12/23/2017 */

* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html {

  height:100%;
  width:100%;

}

body {

  align-content:space-around;
  background-color:#202830;
  color:#ffffff;
  display:grid;
  grid-template-columns:auto;
  grid-template-rows:auto auto auto;
  height:100%;
  justify-items:center;
  padding:0 8px;
  width:100%;

}
