/* Frank Poth 08/12/2017 */

* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html, body {

  height:100%;
  width:100%;

}

body {

  align-content:space-around;
  background-color:#202830;
  color:#ffffff;
  display:grid;
  justify-content:center;

}

canvas {

  background-color:#ffffff;

}
