<header id = "header">

  <a href = "/">HOME</a>
  <a href = "https://www.facebook.com/PothOnProgramming">Facebook</a>
  <a href = "https://github.com/frankarendpoth/frankarendpoth.github.io">Github</a>
  <a href = "https://twitter.com/userpoth">Twitter</a>
  <a href = "https://www.youtube.com/channel/UCdS3ojA8RL8t1r18Gj1cl6w">YouTube</a>

</header>

<script type = "text/javascript">

  document.head.appendChild(DocKit.parseHTML("<link href = '/css/templates/header.css' rel = 'stylesheet' type = 'text/css'>"));
  DocKit.removeElement(document.currentScript);

</script>
