/* Frank Poth 11/16/2017 */

* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html {

  height:100%;
  width:100%;

}

body {

  align-content:space-around;
  background-color:#202830;
  color:#ffffff;
  display:grid;
  grid-template-columns:auto;
  grid-template-rows:auto auto auto auto;
  height:100%;
  justify-content:space-around;
  overflow:hidden;
  text-align:center;
  width:100%;

}

canvas {

  align-self:center;
  background-color:#303840;
  display:grid;
  justify-self:center;

}

.hideable {

  display:grid;

}
