<header id = "header">

  <canvas id = "header-canvas"></canvas>

  <a href = "/">HOME</a>
  <a class = "OffSiteLink" href = "https://www.facebook.com/PothOnProgramming">Facebook</a>
  <a class = "OffSiteLink" href = "https://www.fiverr.com/frankpoth">Fiverr</a>
  <a class = "OffSiteLink" href = "https://github.com/frankarendpoth/frankarendpoth.github.io">Github</a>
  <a class = "OffSiteLink" href = "https://twitter.com/userpoth">Twitter</a>
  <a class = "OffSiteLink" href = "https://www.youtube.com/channel/UCdS3ojA8RL8t1r18Gj1cl6w">YouTube</a>

</header>

<script type = "text/javascript">

  document.head.appendChild(DocKit.parseHTML("<link onload='styleHeader();' href = '/css/templates/header.css' rel = 'stylesheet' type = 'text/css'>"));
  DocKit.removeElement(document.currentScript);

  function styleHeader() {

    var context = document.getElementById("header-canvas").getContext("2d");

    var tile_size = 32;

    var height = undefined;
    var width  = undefined;

    function checkForResize() {

      window.requestAnimationFrame(checkForResize);

      if (height != context.canvas.clientHeight || width != context.canvas.clientWidth) resize();

    }

    function resize(event) {

      height = context.canvas.height = context.canvas.parentElement.clientHeight;
      width  = context.canvas.width = context.canvas.parentElement.clientWidth;

      var columns = Math.ceil(context.canvas.width  / tile_size);
      var rows    = Math.ceil(context.canvas.height / tile_size);

      var offset_x = Math.round((columns * tile_size - context.canvas.width)  * 0.5);
      var offset_y = Math.round((rows    * tile_size - context.canvas.height) * 0.5);

      for (let column = 0; column < columns; column ++) {

        for (let row = 0; row < rows; row ++) {

          var color = "rgb(" + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + ")"

          context.fillStyle = color;
          context.fillRect(column * tile_size - offset_x, row * tile_size - offset_y, tile_size, tile_size);

        }

      }

    }

    checkForResize();

  }

</script>
