/* Frank Poth 04/23/2018 */

.ClickForIframe {

  align-content:center;
  align-self:center;
  border:4px solid #000000;
  color:#ffffff;
  cursor:pointer;
  display:grid;
  font-size:1.25em;
  jusfity-content:center;
  justify-self:center;
  position:relative;
  text-align:center;
  width:100%;
  user-select:none;

}

.ClickForIframe > p {

  align-self:center;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius:8px;
  justify-self:center;
  margin:4px;
  padding:4px;

}

.ClickForIframe > iframe {

  height:100%;
  position:absolute;
  top:0;
  left:0;
  width:100%;

}
