/* Frank Poth 04/23/2018 */

.LinkBox {

  display:flex;
  flex-direction:column;
  flex-flow:wrap;

}

.LinkBox a {

  align-content:center;
  background-color:rgba(0, 0, 0, 0.5);
  border:2px solid #000000;
  border-radius:8px;
  color:#ffffff;
  display:flex;
  flex-grow:1;
  justify-content:center;
  margin:4px 4px;
  padding:4px 8px;
  text-align:center;

}

.LinkBox a:hover {

  background-color:#000000;

}
