#projects {

  justify-content:left;
  background-color:#202830;
  color:#ffffff;
  display:block !important;

}

#projects a {

  background-color:#c06020;
  border-radius:8px;
  color:#ffffff;
  display:inline-grid;
  font-size:1.25em;
  padding:4px;

}

#projects a:hover { background-color:#f08040; }
