
* { box-sizing:border-box; margin:0; overflow:hidden; padding:0; pointer-events:none; user-select:none; }

html { height: 100%; width: 100%; }

body {
  
  display:block;
  height:100%;
  min-height:100%;
  overflow:auto;
  pointer-events:auto;
  width:100%;

}

a { cursor:pointer; pointer-events:auto; text-decoration:none; }

header {

  align-content:space-around;
  background-image:url("media/header.png");
  background-position:center bottom;
  background-size:cover;
  border-bottom:4px solid #202020;
  display:grid;
  grid-template-rows:auto;
  height: 256px;
  image-rendering:pixelated;
  justify-content:center;
  justify-items:center;
  width:    100%;

}

header #slogan {

  background-color:rgba(0, 0, 0, 0.75);
  border-radius:16px;
  color:#ffffff;
  display:block;
  margin:0 16px;
  padding:32px 8px;
  text-align:center;

}

header #slogan h5, h4, h3 {

  display:inline;

}

nav {

  align-items:center;
  background-color:#202830;
  color:#ffffff;
  display:flex;
  font-size:1.5em;
  font-weight:600;
  height:32px;
  justify-content:space-around;

}

main {

  background-color:#202830;
  display:grid;
  min-height:100%;/*calc(100% - var(--header-height));*/

}

footer {

  background-color:#202020;
  display: grid;
  height:100%;

}