<header id = "header">

  <h1 id = "header-title">frankpoth.info</h1>

  <div id = "header-links">
    <a class = "header-link" href = "index.html">home</a>
    <a class = "header-link" href = "pop-vlog.html">pop vlog</a>
    <a class = "header-link" href = "https://www.facebook.com/profile.php?id=100009522251540" target = "_blank">facebook</a>
    <a class = "header-link" href = "https://twitter.com/userpoth" target = "_blank">twitter</a>
    <a class = "header-link" href = "https://www.youtube.com/channel/UCB8OUG89o0QWqmJ2lfzdyIg" target = "_blank">youtube</a>
    <a class = "header-link" href = "https://github.com/frankarendpoth/frankarendpoth.github.io" target = "_blank">github</a>
  </div>

</header>

<script type = "text/javascript">

  document.head.appendChild(DOMKit.createElement("link", ["type=text/css", "rel=stylesheet", "href=templates/header.css"]));
  document.currentScript.parentNode.removeChild(document.currentScript);

</script>
