/* Frank Poth 08/08/2017 */

.topic-panel {

  display:grid;

  grid-template-columns:50% 10% auto 10%;
  grid-template-rows:min-content max-content;
  grid-template-areas:"title refresh nothing nothing" "content content details details";

}

.topic-panel-title {

  align-self:flex-end;
  display:grid;
  grid-area:title;
  vertical-align:bottom;

}

.topic-panel-refresh, .topic-panel-tab {

  align-self:flex-end;
  border-radius:8px;
  cursor:pointer;
  display:grid;
  font-family: Lucida Sans Unicode;
  font-size:2.0em;
  font-weight:800;
  grid-area:refresh;
  justify-self:center;
  text-align:center;
  vertical-align:middle;
  width:100%;

}

.topic-panel-tab {

  display:none;
  grid-area:tab;

}

.topic-panel-content {

  border:none;
  display:grid;
  grid-area:content;
  width:100%;

}

.topic-panel-details {

  align-content:space-around;
  background-color:rgba(0, 0, 0, 0.05);
  display:grid;
  grid-area:details;
  height:100%;
  padding:0 8px 8px 8px;
  text-align:justify;

}

@media screen and (max-width:640px) {

  .topic-panel {

    grid-template-columns:60% 20% 10% 10%;
    grid-template-areas:"title title refresh tab" "content content content content";

  }

  .topic-panel-tab {

    display:grid;

  }

  .topic-panel-content {

    grid-area:content;

  }

  .topic-panel-details {

    display:none;

  }

  .topic-panel-details-highlight {

    background-color:rgba(255, 255, 255, 0.95);
    display:grid;
    grid-area:content;
    padding:8px;
    z-index:100;

  }

}
