<template id = "topic-panel-template">

  <div class = "topic-panel">

    <h1 class = "topic-panel-title"></h1>

    <a class = "topic-panel-refresh">&#8635</a>
    <a class = "topic-panel-tab">+</a>

    <div class = "topic-panel-content"></div>

    <div class = "topic-panel-details"><div>

  </div>

</template>

<script type = "text/javascript">

  document.head.appendChild(DOMKit.createElement("link", ["type=text/css", "rel=stylesheet", "href=templates/topic-panel.css"]));

</script>

<script src = "templates/topic-panel.js" type = "text/javascript"></script>
