/* Frank Poth 08/31/2018 */

#click-board {
  
  align-content:   center;
  display:         flex;
  flex-wrap:       wrap;
  height:          100%;
  justify-content: center;
  width:           100%;

}

#click-board[data-visible=false] { display: none !important; }

#click-board .button { margin:4px; }