/* Frank Poth 09/05/2018 */

#color-board {

  align-content:center;
  border-radius:8px;
  color:#ffffff;
  display:grid;
  font-size:1.25em;
  height:100%;
  justify-content:center;
  position:relative;
  text-align:center;
  width:100%;

}

#color-board div {

  background-color:rgba(0, 0, 0, 0.5);
  border-radius:8px;
  padding:8px;

}

#color-board[data-visible=false] { display: none !important; }