/* Frank Poth 03/27/2018 */

:root {

  --body-color:#ffffff;
  --border-color:#070707;
  --header-color:#272727;
  --footer-color:#272727;
  --iframe-color:#ff652f;

}

* { border:none; box-sizing:border-box; color:#ffffff; margin:0; padding:0; }

html { height: 100%; width:100%; }

body {

  align-items:stretch;
  display:grid;
  grid-template-columns:auto;
  grid-template-rows:auto auto auto;
  min-height:100%;
  width:100%;

}

main {

  align-content:space-around;
  background-color:rgba(0, 0, 0, 0.75);
  display:grid;
  grid-row-gap:8px;
  grid-template-rows:repeat(auto-fill, auto);
  justify-content:space-around;
  min-height:calc(100vh - 128px);
  padding:8px 0;
  position:relative;
  width:100%;

}

a {

  background-color:rgba(0, 0, 0, 0.75);
  border-radius:8px;
  color:#ffffff;
  display:inline-grid;
  font-size:1.25em;
  padding:4px 8px;
  text-align:center;
  text-decoration:none;

}

a:hover { background-color:#000000; }

p { font-size:1.25em; }

#main-canvas {

    height:100%;
    position:absolute;
    width:100%;
    z-index:-1;

}
